{% extends "base.html" %} 
{% load static %}
{% block content %}
<div class="card my-3" style="max-width: 540px; margin:auto">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{% static '/user.png' %}" class="img-fluid rounded" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h6 class="card-title">Username: {{user.username}} </h6>
          <h5 class="card-title">{{user.first_name|title}} {{user.last_name|title}}</h5>
          <p class="card-text">Email: {{user.email}}</p>
          <a href="{% url 'edit_profile' %}" class="btn btn-outline-dark">Edit Profile</a>
        </div>
      </div>
    </div>
</div>
<h4 class="mx-5">My Total Orders {{orders|length}}</h4>
<div class="container row row-cols-3 m-4  g-4 my-1">
    
    {% for i in orders  %}
    <div class="col">
      <div class="card">
          <img src="{{i.car.image.url}}" class="card-img-top"  alt="...">
          <div class="card-body">
              <h6 class="card-text m-0 p-0">Order Id: {{i.id}}</h6>
              <h5 class="card-title">{{i.car.car_name}}</h5>
              <h6 class="card-title">Price: ${{i.car.price}}</h6>
              <p class="card-text">{{i.car.description|truncatewords:10}}</p>
              <p class="card-title mb-2 p-0">Ordered At: {{i.created_at}}</p>
              <a class="btn btn-dark" href="{% url 'car_details' i.car.id %}">See Details</a>
        </div>
      </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}

